{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}

  {#
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  #}

<form method="post" enctype="multipart/form-data">
  <section class="articles">
    <div class="column is-8 is-offset-2">
      <section class="articles">
          <!-- START ARTICLE -->
        <div class="card article">
          <div class="card-content">

            <div class="media">

              <div class="media-content has-text-centered">
                <p class="title article-title">
                  <label for="title">Titre</label>
                  <input name="title" id="title" value="{{ request.form['title'] }}" required> </p>
              </div>
            </div>

            <div class="content article-body">
                <label for="body">Texte </label>
                <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
            </div>



            <div class="file has-name is-boxed is-right">
              <label class="file-label">
                <input class="file-input" type="file" name="img" id="img" />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                    <span class="file-label"> Choose a file… </span>
                  </span>
                <span class="file-name"> Screen Shot 2017-07-29 at 15.54.25.png </span>
              </label>
            </div>


            <div class="create-submit">
              <input type="submit" value="Save">
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</form>
      <!-- END ARTICLE -->
{% endblock %}
