<!doctype html>
<title>{% block title %}{% endblock %} - Strasbourg Resto Bistro</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />

<nav  class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item"  href="{{ url_for('index') }}">Strasbourg Resto Bistro </a>
      <!-- <img src="../images/bulma.png" alt="Logo">  -->
    </div>
    <div id="navbarMenu" class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item" href="{{ url_for('auth.logout') }}">
          Log Out
        </a>
      </div>

      <div class="navbar-item">
        <a class="navbar-item" href="{{ url_for('auth.login') }}">
          Log In
        </a>
      </div>

      <div class="navbar-item">
        <a class="navbar-item" href="{{ url_for('auth.register') }}">
          Register
        </a>
      </div>

    </div>
  </div>

  <!-- <h1><a href="{{ url_for('index') }}">Strasbourg Resto Bistro</a></h1> -->

  <!--
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
  -->

</nav>


<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title" style="color: #d30000">Sur ce site une compilation de nos restos strasbourgeois favoris ! <br> (En petit comité pour le moment.)</h1>
        </div>
    </div>
</section>

<section class="articles">

    <!-- START ARTICLE -->
    <div class="card article">

      <div class="card-content">
        <div class="media">

          <div class="media-center">
            <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
          </div>

          <div class="media-content has-text-centered">
            <p class="title article-title">Sapien eget mi proin sed 🔱</p>
            <p class="subtitle is-6 article-subtitle">
              <a href="#">@daria</a> on February 17, 202X
            </p>
          </div>
        </div>

        <div class="content article-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
            </p>
            <p>
              Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
            </p>
            <h3 class="has-text-centered">Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Cras tincidunt lobortis feugiat vivamus.</h3>
              <p>
                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                Arcu non sodales neque sodales ut etiam sit amet.
              </p>

          </div>
          {{ message }}
        </div>

    </div>
    <!-- END ARTICLE -->

</section>


  <!-- {% for message in get_flashed_messages() %} -->
    <!-- {% endfor %} -->

  <!--
  <section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  -->
  <!-- {% for message in get_flashed_messages() %} -->
  <!-- <div class="flash">{{ message }}</div> -->


<!--
  {% endfor %}
  {% block content %}{% endblock %}
</section>
-->
