<!doctype html>
<title>{% block title %}{% endblock %} - Strasbourg Resto Bistro</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />

<nav  class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item"  href="{{ url_for('index') }}">Strasbourg Resto Bistro </a>
      <!-- <img src="../images/bulma.png" alt="Logo">  -->
    </div>
    <div id="navbarMenu" class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item" href="{{ url_for('auth.logout') }}">
          Log Out
        </a>
      </div>

      <div class="navbar-item">
        <a class="navbar-item" href="{{ url_for('auth.login') }}">
          Log In
        </a>
      </div>

      <div class="navbar-item">
        <a class="navbar-item" href="{{ url_for('auth.register') }}">
          Register
        </a>
      </div>

      <div class="navbar-item">
        <a class="navbar-item" href="{{ url_for('blog.create') }}">
          Create Post
        </a>
      </div>

    </div>
  </div>

</nav>


<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title" style="color: #d30000">Sur ce site une compilation de nos restos strasbourgeois favoris ! <br> (En petit comité pour le moment.)</h1>
        </div>
    </div>
</section>

<!-- for bloc to display app feedbach messages -->
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% block content %}{% endblock %}